* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: courier;
	overflow: auto;
	background-color: #FFFFFF;

}

header {
	margin-top: 50px;
	position: static;
	height: 30px;
}

.head_er {
	background-image: url("../img/logo2.png") ;
	background-size: 100%;

	height: 140px;
	width: 400px;
	float: left;

	top: -25px;
    left: 5%;

	position: absolute;
}

.main-div{
    position:absolute;
    width: 100%;
    height: 507px;
    max-height: 510px;
    background: #A0A0A0;

	border-top: 2px solid #585858; 
	border-bottom: 2px solid #585858; 
	
}

.wrapper {
	position: absolute;
	width: 1280px;
	height: 100%;
    left:47%;

	margin: 20px 0 0 -580px;
}

.input-div {
	border: 2px solid blue;
	height: 380px;
	width: 58%;
	display: inline-block;
}

.output-mc {
	position: fixed;
	right: 20px;
	top: 90px;

	height: 200px;
	width: 40%;
	
	float: right;
	padding: 10px;
	
	background-color: #282828;
	color: white;
}

.output-fo {
	top: 315px;
	right: 20px;
	position: fixed;

	height: 248px;
	width: 40%;

	float: right;
	padding: 10px;

	background-color: #282828;
	color: white;
}

.btn {
	border-radius: 1px;
  	text-shadow: 1px 1px 3px #666666;
  	
  	color: #ffffff;
  	font-size: 23px;
  	background:#980000;
  	padding: 7px 17px 7px 17px;
  	text-decoration: none;

  	position: fixed;
	top: 603px;
	left: 540px;

	cursor: pointer;
}

.input-user {
	background: #A0A0A0;
	color: #E8E8E8;
}

.linedwrap {
	border: 1px solid #c0c0c0;
	padding: 3px;
}

.linedtextarea {
	padding: 0px;
	margin: 0px;
	background: #B0B0B0;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
	font-size: 12pt;
	font-family: courier;
	line-height: normal !important;
}

.linedtextarea textarea {
	/*padding-right:0.3em;*/
	padding-top:0.3em;
	border: 0;
	background: #909090;
	color: white;
	outline: none;
}

.linedwrap .lines {
	margin-top: 0px;
	width: 50px;
	float: left;
	overflow: hidden;
	border-right: 1px solid #c0c0c0;
	margin-right: 10px;
}

.linedwrap .codelines {
	padding-top: 5px;
}

.linedwrap .codelines .lineno {
	color:#FFFFFF ;
	padding-right: 0.5em;
	padding-top: 0.0em;
	text-align: right;
	white-space: nowrap;
}
